<header class="page-header">
  <h1>New User Registration</h1>
</header>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
  <p>
    First Name: <%= f.text_field :first_name, class: 'form-field' %>
  </p>
  <p>
    Last Name: <%= f.text_field :last_name, class: 'form-field' %>
  </p>
  <p>
    Email: <%= f.text_field :email, class: 'form-field' %>
  </p>
  <p>
    Username: <%= f.text_field :username, class: 'form-field' %>
  </p>
  <p>
    Street: <%= f.text_field :street, class: 'form-field' %>
  </p>
  <p>
    City: <%= f.text_field :city, class: 'form-field' %>
  </p>

  <p>
    <%= f.label :province_id, 'Province' %>
    <%= f.collection_select :province_id, @provinces, :id, :name, { prompt: 'Select Province' }, { class: 'form-field' } %>
  </p>
  
  <p>
    Zip Code: <%= f.text_field :zip_code, class: 'form-field' %>
  </p>
  <p>
    Create a Secure Password: <%= f.password_field :password, class: 'form-field' %>
  </p>
  <p>
    Re-enter your Secure Password: <%= f.password_field :password_confirmation, class: 'form-field' %>
  </p>

  <%= f.submit "Submit", class: 'btn btn-lg btn-success' %>
<% end %>
